<!--Start White Header -->
<header class="nav-bg-w main-header navfix fixed-top nav-line nav-color">
    <div class="container-fluid px-10">
        <div class="menu-header first-nav1 p-2">
            <div class="custom-nav full-width">
                <ul class="nav-list right-end-btn d-flex justify-content-end">
                    <!-- لینک toggle (در صورت نیاز به نمایش منو در موبایل) -->
                    <li class="navm- hidedesktop">
                        <a class="toggle" href="#"><span></span></a>
                    </li>
                </ul>
                <ul class="nav-list d-flex justify-content-between full-width align-items-center">
                    <!-- قسمت متن هدر که در وسط قرار می‌گیرد -->
                    <li class="col-12 d-flex justify-content-center">
                        <div class="title-theme align-items-center">
                            نرم‌افزار حسابداری طلا و جواهر <span class="text-second text-bold font-24">مارکیز</span>
                        </div>
                    </li>

                    <!-- قسمت لینک ورود که در سمت راست قرار می‌گیرد -->
                    <li class="nav-item d-flex justify-content-end header-social-media-icons w-20">
                        <a class="nav-link d-flex flex-row align-content-center align-items-center mt-2" href="/CRM/Auth/SendOtp">
                            <p class="font-12 d-md-none d-lg-flex align-content-end d-sm-none d-md-none">حساب کاربری</p>
                            <i class="bi bi-person font-20"></i> 
                        </a>
                    </li>
                </ul>


            </div>
        </div>
        <div class="menu-header d-flex justify-content-center second-nav">
            <div class="custom-nav" role="navigation">
                <ul class="nav-list dir-rtl">
                    <li class="sbmenu bd-hor-base px-3">
                        <a href="@Url.RouteUrl("Index")" class="menu-links">خانه</a>
                    </li>
                    <li class="sbmenu rpdropdown px-3">
                        <a href="#" class="menu-links">مارکیز</a>
                        <div class="nx-dropdown menu-dorpdown">
                            <div class="sub-menu-section">
                                <div class="sub-menu-center-block">
                                    <div class="sub-menu-column smfull">
                                        <ul>
                                            <li><a href="@Url.RouteUrl("Contact")">ارتباط با ما</a> </li>
                                            <li><a href="@Url.RouteUrl("Features")">ویژگی مارکیز</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sbmenu rpdropdown px-3">
                        <a href="#" class="menu-links">نرم‌افزار</a>
                        <div class="nx-dropdown menu-dorpdown">
                            <div class="sub-menu-section">
                                <div class="sub-menu-center-block">
                                    <div class="sub-menu-column smfull">
                                        <ul>
                                            <li><a href="@Url.RouteUrl("Softwares")">نرم‌افزارها</a></li>
                                            <li><a href="@Url.RouteUrl("OtherSoftwares")">نرم‌افزارهای جانبی</a></li>
                                            <li><a href="@Url.RouteUrl("Plugins")">مکمل‌ها</a> </li>
                                            <li><a href="@Url.RouteUrl("Support")">پشتیبانی</a> </li>
                                            <li><a href="@Url.RouteUrl("Questions")">سوالات متداول</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sbmenu px-3">
                        <a href="@Url.RouteUrl("Blog")" class="menu-links">وبلاگ</a>
                    </li>
                    <li class="sbmenu px-3">
                        <a href="@Url.RouteUrl("Videos")" class="menu-links">ویدیو آموزشی</a>
                    </li>
                    <li class="sbmenu px-3">
                        <a href="@Url.RouteUrl("Opportunity")" class="menu-links">فرصت‌های شغلی</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Mobile Menu-->
        <nav id="main-nav">
            <ul class="first-nav">
                <li>
                    <a href="@Url.RouteUrl("Index")">خانه</a>
                </li>
                <li>
                    <a class="dir-rtl pt-3" href="#">مارکیز</a>
                    <ul>
                        <li><a href="@Url.RouteUrl("Contact")">ارتباط با ما</a></li>
                        <li><a href="@Url.RouteUrl("Features")">ویژگی‌های مارکیز</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">نرم افزار</a>
                    <ul>
                        <li><a href="@Url.RouteUrl("Softwares")">نرم‌افزارها</a></li>
                        <li><a href="@Url.RouteUrl("OtherSoftwares")">نرم‌افزارهای جانبی</a></li>
                        <li><a href="@Url.RouteUrl("Plugins")">مکمل‌ها</a> </li>
                        <li><a href="@Url.RouteUrl("Support")">پشتیبانی</a> </li>
                        <li><a href="@Url.RouteUrl("Questions")">سوالات متداول</a> </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Blog")">وبلاگ</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Videos")">ویدئوهای آموزشی</a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Opportunity")">فرصت‌های شغلی</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--End Header -->
