@model IEnumerable<Marquise_Web.UI.areas.CRM.Models.AccountVM>


@{
    ViewBag.Title = "BranchSelection";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
    ViewData["IsLoginPage"] = true;
}

<section class="login-page pt50 pb50 dir-center">
    <div class="v-center m-auto">
        <div class="login-form-div">
            <div class="form-block">
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr class="custom-tr">
                                <th class="font-16">لطفا شعبه مورد نظر خود را انتخاب کنید.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in Model)
                            {
                                <tr class="table-row-link"
                                    data-user-id="@account.UserId"
                                    data-crm-account-id="@account.CrmAccountId"
                                    data-account-id="@account.AccountId"
                                    data-name-id="@account.Name">
                                    <td>
                                        @account.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/Areas/CRM/Scripts/CRM/Auth.js"></script>
}

