@model Marquise_Web.UI.areas.CRM.Models.ContractDetailVm

<div class="card h-100">
    <div class="card-body">
        <div class="row m-0 row-group text-center border border-light-3">
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <h5 class="mb-0">نوع پشتیبانی</h5>
                    <small class="mb-0">@Model.sodoureghoflName__C</small>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <h5 class="mb-0">تاریخ ثبت</h5>
                    <small class="mb-0">@Model.CreateDatePersian</small>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <h5 class="mb-0">وضعیت</h5>
                    @{
                        string statusClass = "";
                        string statusIcon = "";

                        switch (Model.status__C)
                        {
                            case "73bbad0b-6e0f-402b-a581-82a87620dbd7": // فعال
                                statusClass = "text-success";
                                statusIcon = "<i class='bi bi-check-circle font-14'></i>";
                                break;

                            case "66e1823c-c99c-451a-845a-2dec96750754": // غیرفعال
                                statusClass = "text-danger";
                                statusIcon = "<i class='bi bi-slash-circle font-14'></i>";
                                break;

                            default:
                                statusClass = "text-muted";
                                statusIcon = "<i class='bi bi-question-circle font-14'></i>";
                                break;
                        }
                    }

                    <small class="mb-0 @statusClass">@Model.StatusTitle @Html.Raw(statusIcon)</small>
                </div>
            </div>
        </div>


        <h6 class="card-title pt-5 pb-2">مشخصات قرارداد</h6>
        <div class="row m-0 row-group text-center border border-light-3">
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <h5 class="mb-0">تاریخ شروع</h5>
                    <small class="mb-0">@Model.StartDatePersian</small>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <h5 class="mb-0">تاریخ اتمام</h5>
                    <small class="mb-0">@Model.EndDatePersian</small>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-3">
                    <h5 class="mb-0">وضعیت تمدید خودکار</h5>
                    <small class="mb-0">@Model.tamdidStatus</small>
                </div>
            </div>
        </div>
    </div>
</div>
