<!--Start Plugins-->
<section class="work-category pad-tb tilt3d">
    <div class="container-fluid px-15">
        <div class="row dir-rtl">
            <div class="col-lg-4 v-center">
                <div class="common-heading text-l">
                    <span class="font-15">مکمل‌ها</span>
                    <h3>دسترسی بیشتر با افزونه‌های مارکیز</h3>
                    <p class="font-14">
                        با استفاده از هر یک از این افزونه‌ها می‌توانید تعامل بیشتری با مشتریان داشته و یا دسترسی بیشتری برای پرسنل خود فراهم کنید.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 px-lg-3">
                <div class="px-lg-5">
                    <div class="work-card-set flex-wrap d-flex dir-rtl">
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay=".2s">
                            <div class="work-card cd1">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin1.png" alt=">ارز و سکه" /></div>
                                <p>ارز و سکه</p>
                            </div>
                        </a>
                        <!--2-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay=".4s">
                            <div class="work-card cd10">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin2.png" alt="بارخانه" /></div>
                                <p>بارخانه</p>
                            </div>
                        </a>
                        <!--3-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay=".6s">
                            <div class="work-card cd3">
                                <div class="icon-bg w-50"><img src="~/Content/Icons/plugin/plugin3.png" alt="سرویس اعتباری اسنپ" /></div>
                                <p>سرویس اعتباری اسنپ</p>
                            </div>
                        </a>
                        <!--4-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay=".8s">
                            <div class="work-card cd4">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin4.png" alt="مظنه آنلاین" /></div>
                                <p>مظنه آنلاین</p>
                            </div>
                        </a>
                        <!--5-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="1s">
                            <div class="work-card cd2">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin5.png" alt="بارکد اتوماتیک" /></div>
                                <p>بارکد اتوماتیک</p>
                            </div>
                        </a>
                        <!--6-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="1.2s">
                            <div class="work-card cd6">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin6.png" alt="مکمل جواهر" /></div>
                                <p>مکمل جواهر</p>
                            </div>
                        </a>
                        <!--7-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="1.4s">
                            <div class="work-card cd7">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin7.png" alt="تولید جواهر" /></div>
                                <p>تولید جواهر</p>
                            </div>
                        </a>
                        <!--8-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="1.6s">
                            <div class="work-card cd8">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin8.png" alt="زبان‌های خارجی" /></div>
                                <p>زبان‌های خارجی</p>
                            </div>
                        </a>
                        <!--9-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="1.8s">
                            <div class="work-card cd9">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin9.png" alt="ارتباط با پایگاه داده" /></div>
                                <p>ارتباط با پایگاه داده</p>
                            </div>
                        </a>
                        <!--10-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="2s">
                            <div class="work-card cd10">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin10.png" alt="شخصی‌سازی محصول" /></div>
                                <p>شخصی‌سازی محصول</p>
                            </div>
                        </a>
                        <!--11-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="2.2s">
                            <div class="work-card cd4">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin11.png" alt="مانیتور مشتری" /></div>
                                <p>مانیتور مشتری</p>
                            </div>
                        </a>
                        <!--12-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="2.4s">
                            <div class="work-card cd2">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin12.png" alt="کنترل شماره موبایل" /></div>
                                <p>کنترل شماره موبایل</p>
                            </div>
                        </a>
                        <!--13-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="2.6s">
                            <div class="work-card cd6">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin13.png" alt="تبادل مشتریان" /></div>
                                <p>تبادل مشتریان</p>
                            </div>
                        </a>
                        <!--14-->
                        <a href="@Url.RouteUrl("Plugins")" class="icon-set col-2 wow fadeIn" data-tilt data-tilt-max="8" data-tilt-speed="1000" data-wow-delay="2.8s">
                            <div class="work-card cd8">
                                <div class="icon-bg"><img src="~/Content/Icons/plugin/plugin14.png" alt="پنل پیامکی قاصدک" /></div>
                                <p>پنل پیامکی قاصدک</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

