<table class="table font-14">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">موضوع</th>
            <th scope="col">تاریخ</th>
            <th scope="col">کارشناس</th>
            <th scope="col">وضعیت</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {

            <tr class="table-row-link" data-ticket-id="@ticket.TicketId">
                <th scope="row">@ticket.TicketNumber</th>
                <td>@ticket.Title</td>
                <td>@ticket.CreateDatePersian</td>
                <td>@ticket.StaffName</td>
                <td>
                    @ticket.StatusTitle
                    @(ticket.Status == "9a5e80a8-cc75-46f1-b158-01d58384d4f7" ? Html.Raw("<i class=\"bi bi-check2-circle font-14\"></i>") : null)
                </td>
            </tr>
        }

    </tbody>
</table>