@model Marquise_Web.UI.areas.CRM.Models.InvoiceDetailVm

<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title pb-2">فاکتور فروش</h5>
        <div class="row m-0 row-group text-center border border-light-3">
            <div class="col-12 col-lg-3">
                <div class="p-3">
                    <h6 class="mb-0">شماره فاکتور</h6>
                    <small class="mb-0">@Model.InvoiceNumber</small>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="p-3">
                    <h6 class="mb-0">تاریخ ثبت</h6>
                    <small class="mb-0">@Model.CreateDatePersian</small>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="p-3">
                    <h6 class="mb-0">نوع پیش فاکتور</h6>
                    <small class="mb-0">@Model.Title</small>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="p-3">
                    <h6 class="mb-0">وضعیت</h6>
                    @{
                        string statusClass = "";
                        string statusIcon = "";

                        switch (Model.Status)
                        {
                            case "2190e6ec-d127-48b1-953e-70cc8812e986": // باز
                                statusClass = "text-primary";
                                statusIcon = "<i class='bi bi-folder2-open font-14'></i>";
                                break;

                            case "defe0fbb-f568-49d8-bd65-f74781635da2": // تایید
                                statusClass = "text-warning";
                                statusIcon = "<i class='bi bi-patch-check font-14'></i>";
                                break;

                            case "9e771182-851a-4417-accf-e5e1ea5167b9": // پرداخت شده
                                statusClass = "text-success";
                                statusIcon = "<i class='bi bi-cash-stack font-14'></i>";
                                break;

                            case "9d0bce73-e071-4c6f-a64e-1fed6bd7df74": // ابطال
                                statusClass = "text-danger";
                                statusIcon = "<i class='bi bi-x-octagon font-14'></i>";
                                break;

                            default:
                                statusClass = "text-muted";
                                statusIcon = "<i class='bi bi-question-circle font-14'></i>";
                                break;
                        }
                    }

                    <small class="mb-0 @statusClass">@Model.StatusTitle @Html.Raw(statusIcon)</small>
                </div>
            </div>
        </div>

        <h6 class="card-title pt-5 pb-2">لیست خدمات</h6>
        <div class="table-responsive">
            <table class="table font-14">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">قیمت لیست</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">تخفیف</th>
                        <th scope="col">مالیات</th>
                        <th scope="col">مبلغ نهایی</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>پشتیبانی فصلی اینترنتی</td>
                        <td>36000000</td>
                        <td>1</td>
                        <td>12000000</td>
                        <td>0</td>
                        <td>24000000</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>حسابرسی ماهیانه</td>
                        <td>13000000</td>
                        <td>3</td>
                        <td>4000000</td>
                        <td>0</td>
                        <td>27000000</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h6 class="card-title pt-5 pb-2">پرداخت ها</h6>
        <div class="table-responsive">
            <table class="table font-14">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">مبلغ</th>
                        <th scope="col">روش پرداخت</th>
                        <th scope="col">تاریخ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.Payments)
                    {
                        <tr>
                            <td>@payment.Number</td>
                            <td>@payment.Amount.ToString("N0")</td>
                            <td>@payment.TypeName</td>
                            <td>@payment.PaymentDatePersian</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <h6 class="card-title pt-5 pb-2">مجموع مبالغ</h6>
        <div class="row m-0 row-group text-center border border-light-3">
            <div class="col-12 col-lg-2">
                <div class="p-3">
                    <p class="mb-1">جمع کل</p>
                    <small class="mb-0">@Model.TotalPrice.ToString("N0")</small>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="p-3">
                    <p class="mb-1">جمع تخفیف</p>
                    <small class="mb-0">@Model.TotalDiscount.ToString("N0")</small>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="p-3">
                    <p class="mb-1">مالیات</p>
                    <small class="mb-0">@Model.TotalTax.ToString("N0")</small>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="p-3">
                    <p class="mb-1">مبلغ نهایی</p>
                    <small class="mb-0">@Model.FinalAmount.ToString("N0")</small>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="p-3">
                    <p class="mb-1">جمع پرداخت‌ها</p>
                    <small class="mb-0">@Model.Paid.ToString("N0")</small>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="p-3">
                    <p class="mb-1">مبلغ باقیمانده</p>
                    <small class="mb-0">@Model.Rest.ToString("N0")</small>
                </div>
            </div>
        </div>
    </div>
</div>