<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <title>نرم افزار حسابداری طلا و جواهر مارکیز</title>
    <meta name="description" content="Creative Agency, Marketing Agency Template">
    <meta name="keywords" content="Creative Agency, Marketing Agency">
    <meta name="author" content="rajesh-doot">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#D68631">
    <link rel="icon" type="image/webp" href="~/Content/Images/Logo.webp">
    <!--plugin-css-->
    <link href="https://fonts.cdnfonts.com/css/iranyekan" rel="stylesheet">
    <link href="~/Content/bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/theme/css/plugin.min.css" rel="stylesheet">
    <link href="~/Content/theme/css/swiper.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- template-style-->
    <link href="~/Content/theme/css/style.css" rel="stylesheet">
    <link href="~/Content/theme/css/responsive.css" rel="stylesheet">
    <link href="~/Content/theme/css/darkmode.css" rel="stylesheet">
    <link href="~/Content/theme/css/gdpr-cookie.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/Content/theme/css/custom.css" rel="stylesheet">
    @RenderSection("scripts", required: false)
</head>
<body>


    @if (ViewBag.IsLoginPage != true)
    {
        <header class="nav-bg-w main-header navfix fixed-top nav-line nav-color">
            <div class="container-fluid px-10">
                <div class="menu-header first-nav1 p-2">
                    <div class="custom-nav full-width">
                        <ul class="nav-list dir-center d-flex justify-content-start full-width">
                            <li class="col-12 dir-center d-flex justify-content-center">
                                <div class="title-theme align-items-center">
                                    نرم‌افزار حسابداری طلا و جواهر مارکیز
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-list right-end-btn">
                            <li class="navm- hidedesktop"> <a class="toggle" href="#"><span></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="menu-header d-flex justify-content-center second-nav">
                    <div class="custom-nav" role="navigation">
                        <ul class="nav-list dir-rtl">
                            <li class="sbmenu bd-hor-base px-3">
                                <a href="@Url.RouteUrl("Index")" class="menu-links">خانه</a>
                            </li>
                            <li class="sbmenu rpdropdown px-3">
                                <a href="#" class="menu-links">مارکیز</a>
                                <div class="nx-dropdown menu-dorpdown">
                                    <div class="sub-menu-section">
                                        <div class="sub-menu-center-block">
                                            <div class="sub-menu-column smfull">
                                                <ul>
                                                    <li><a href="@Url.RouteUrl("Contact")">ارتباط با ما</a> </li>
                                                    <li><a href="@Url.RouteUrl("Features")">ویژگی مارکیز</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="sbmenu rpdropdown px-3">
                                <a href="#" class="menu-links">نرم‌افزار</a>
                                <div class="nx-dropdown menu-dorpdown">
                                    <div class="sub-menu-section">
                                        <div class="sub-menu-center-block">
                                            <div class="sub-menu-column smfull">
                                                <ul>
                                                    <li><a href="@Url.RouteUrl("Softwares")">نرم‌افزارها</a></li>
                                                    <li><a href="@Url.RouteUrl("OtherSoftwares")">نرم‌افزارهای جانبی</a></li>
                                                    <li><a href="@Url.RouteUrl("Plugins")">مکمل‌ها</a> </li>
                                                    <li><a href="@Url.RouteUrl("Support")">پشتیبانی</a> </li>
                                                    <li><a href="@Url.RouteUrl("Questions")">سوالات متداول</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="sbmenu px-3">
                                <a href="@Url.RouteUrl("Blog")" class="menu-links">وبلاگ</a>
                            </li>
                            <li class="sbmenu px-3">
                                <a href="@Url.RouteUrl("Videos")" class="menu-links">ویدیو آموزشی</a>
                            </li>
                            <li class="sbmenu px-3">
                                <a href="@Url.RouteUrl("Opportunity")" class="menu-links">فرصت‌های شغلی</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Mobile Menu-->
                <nav id="main-nav">
                    <ul class="first-nav">
                        <li>
                            <a href="@Url.RouteUrl("Index")">خانه</a>
                        </li>
                        <li>
                            <a class="dir-rtl pt-3" href="#">مارکیز</a>
                            <ul>
                                <li><a href="@Url.RouteUrl("Contact")">ارتباط با ما</a></li>
                                <li><a href="@Url.RouteUrl("Features")">ویژگی‌های مارکیز</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">نرم افزار</a>
                            <ul>
                                <li><a href="@Url.RouteUrl("Softwares")">نرم‌افزارها</a></li>
                                <li><a href="@Url.RouteUrl("OtherSoftwares")">نرم‌افزارهای جانبی</a></li>
                                <li><a href="@Url.RouteUrl("Plugins")">مکمل‌ها</a> </li>
                                <li><a href="@Url.RouteUrl("Support")">پشتیبانی</a> </li>
                                <li><a href="@Url.RouteUrl("Questions")">سوالات متداول</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Blog")">وبلاگ</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Videos")">ویدئوهای آموزشی</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Opportunity")">فرصت‌های شغلی</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    }

    @RenderBody()

    @if (ViewBag.IsLoginPage != true)
    {
        <footer class="dark-footer dg-bg--1 pt60 nshape dark-footer-1 dir-rtl footer-color zindex10">
            <div class="container">
                <div class="row justify-content-center">
                    <ul class="col-lg-5 footer-link-- d-flex flex-row dir-center justify-content-between mt-4">
                        <li class="hover-border px-0 mx-4 pb-3 text-center mt-2"><a href="@Url.RouteUrl("Softwares")"> نرم‌افزار</a></li>
                        <li class="hover-border px-0 mx-4 pb-3 text-center mt-2"><a href="@Url.RouteUrl("Plugins")">مکمل‌ها</a></li>
                        <li class="hover-border px-0 mx-3 pb-3 text-center mt-2"><a href="tel:+982191307643">پشتیبانی </a></li>
                    </ul>
                </div>


                <div class="row copyright">
                    <div class="col-lg-12">
                        <div class="footer-social-media-icons mt-5 overflow-visible">
                            <a href="mailto:marquiseacc.info@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            <a href="tel:+989033130093"><i class="bi bi-telephone-fill"></i></a>
                            <a href="https://goo.gl/maps/2bz8BwmxuJ6zRfgd8" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=9032130093" target="_blank"><i class="fab fa-whatsapp"></i></a>

                            <a href="https://www.linkedin.com/in/marquise-co-70a068258" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/marquise.acc?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center pt30">
                    <div class="col-lg-6 col-sm-6 footer-blog- d-flex flex-column justify-content-center">
                        <div class="d-flex flex-row justify-content-center pb-4">
                            <div class="single-blog- d-flex justify-content-center">
                                <div class="post-thumb">
                                    <a href="@Url.RouteUrl("Index")"><img src="~/Content/Images/Logo.webp" alt="badges"></a>
                                </div>
                            </div>
                            <div class="single-blog-">
                                <div class="post-thumb">
                                    <a href="https://trustseal.enamad.ir/?id=360453&amp;Code=2cf7g1RiD5sEp8IoPsZU" target="_blank"><img src="~/Content/Images/enamad.png" alt="badges"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row end-footer- d-flex justify-content-center">
                    <div class="col-lg-8 col-sm-12">
                        <div class="footer-copyrights- dir-center">
                            <p class="font-14">
                                کلیه حقوق مادی و معنوی این وب سایت متعلق به <a href="@Url.RouteUrl("Index")" target="blank">
                                    آتیه پردازان نگاه نو
                                </a>
                                می باشد.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    }

    <!-- for area -->
    
    


    <!-- for theme -->
    <script src="~/Scripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/plugin.min.js"></script>

    <!--common script file-->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/swiper.min.js"></script>
    @*<script src="~/theme/js/preloader.js"></script>*@
    @*<script src="~/theme/js/tweenmax.min.js"></script>*@
    <script src="~/Scripts/gdprcookies.js"></script>
    <!--common script file-->
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/Views/custom.js"></script>
</body>
</html>
