<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <title>پشتیبانی مارکیز</title>
    <meta name="description" content="Creative Agency, Marketing Agency Template">
    <meta name="keywords" content="Creative Agency, Marketing Agency">
    <meta name="author" content="rajesh-doot">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#D68631">
    <link rel="icon" type="image/webp" href="~/Content/Images/Logo.webp">

    <link href="~/Content/CRM/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/Content/CRM/assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css">

    <!-- Vector CSS -->
    <!-- simplebar CSS-->
    <link href="~/Content/CRM/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="~/Content/CRM/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/Content/CRM/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/Content/CRM/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="~/Content/CRM/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="~/Content/CRM/assets/css/app-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/Content//CSS/CRMCustom.css" rel="stylesheet">
    <link href="~/Content/theme/css/bootstrap.min.css" />
    <link href="~/Content/theme/css/responsive.css" />
    <link href="~/Content/CRM/assets/css/Loading.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
</head>
@{
    var themeCookie = Request.Cookies["userTheme"];
    var theme = themeCookie != null ? themeCookie.Value : "theme1"; // مقدار پیش‌فرض
    var bodyClass = "bg-theme bg-" + theme + " dir-rtl d-flex flex-column min-vh-100";

    if (theme == "theme16" || theme == "theme17" || theme == "theme18")
    {
        bodyClass += " black-color";
    }
    bool isLoginPage = false;
    if (ViewBag.IsLoginPage != null)
    {
        isLoginPage = (bool)ViewBag.IsLoginPage;
    }
    else if (ViewData["IsLoginPage"] != null)
    {
        isLoginPage = (bool)ViewData["IsLoginPage"];
    }

    if (isLoginPage)
    {
        bodyClass += " login-loading";
    }
}

<body class="@bodyClass">

    @Html.Partial("Loading")
    <!-- Start wrapper-->
    <div id="wrapper" class="flex-grow-1">
        @if (ViewBag.IsLoginPage != true)
        {
            @Html.Partial("Sidebar")
            @Html.Partial("Topbar")


        }

        @RenderBody()

        @if (ViewBag.IsLoginPage != true)
        {
            @Html.Partial("Footer")
            @Html.Partial("RightSidebar")
        }
    </div>
    <script src="~/Content/CRM/assets/js/custom.js"></script>
    <script src="~/areas/CRM/Scripts/CRM/session-monitor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/Content/CRM/assets/js/jquery.min.js"></script>
    <script src="~/Content/CRM/assets/js/popper.min.js"></script>
    <script src="~/Content/CRM/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/CRM/assets/js/Loading.js"></script>
    <!-- simplebar js -->
    <script src="~/Content/CRM/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Content/CRM/assets/js/sidebar-menu.js"></script>
    <script src="~/areas/CRM/Scripts/CRM/Topbar.js"></script>
    <!-- loader scripts -->
    <!-- Custom scripts -->
    <script src="~/Content/CRM/assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="~/Content/CRM/assets/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="~/Content/CRM/assets/js/index.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>
</html>
