@model List<Marquise_Web.UI.areas.CRM.Models.QuoteVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/areas/CRM/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title pb-2">لیست پیش فاکتورها</h5>
                        <div class="table-responsive">
                            <table class="table font-14">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">نام</th>
                                        <th scope="col">تاریخ</th>
                                        <th scope="col">مبلغ</th>
                                        <th scope="col">وضعیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var quote in Model)
                                    {
                                        <tr data-quote-id="@quote.QuoteId">
                                            <th scope="row">@quote.QuoteCode</th>
                                            <td>@quote.Name</td>
                                            <td>@quote.CreateDatePersian</td>
                                            <td>@quote.TotalPrice</td>
                                            <td>@quote.StatusTitle</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8" id="DetailQuote">

            </div>

        </div>

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->
</div>

@section Scripts {
    <script src="~/Areas/CRM/Scripts/CRM/Quote.js"></script>
}