@model IEnumerable<Marquise_Web.UI.areas.CRM.Models.TicketVM>


<div class="card h-100">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title pb-2">آخرین تیکت ها</h5>
            </div>
            <div>
                <a class="ml-lg-3 font-14 cursor-pointer" onclick="location.href='@Url.Action("Index", "Ticket", new { area = "CRM"})'">
                   مشاهده بیشتر
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table font-14">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">موضوع</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">کارشناس</th>
                        <th scope="col">وضعیت</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in Model)
                    {

                        <tr class="table-row-link" onclick="location.href='@Url.Action("DetailPage", "Ticket", new { area = "CRM", ticketId = ticket.TicketId })'">
                            <th scope="row">@ticket.TicketNumber</th>
                            <td>@ticket.Title</td>
                            <td>@ticket.CreateDatePersian</td>
                            <td>@ticket.StaffName</td>
                            @{
                                string statusClass = "";
                                string statusIcon = "";

                                switch (ticket.Status)
                                {
                                    case "28cb76a6-d999-4ee3-887c-66792287453d": // جدید
                                        statusClass = "text-primary";
                                        statusIcon = "<i class='bi bi-plus-circle font-14'></i>";
                                        break;

                                    case "b1af65c3-af6e-48a6-8d1f-b5c09d7f03c9": // باز
                                        statusClass = "text-warning";
                                        statusIcon = "<i class='bi bi-folder2-open font-14'></i>";
                                        break;

                                    case "f0da3c31-3fe7-41ca-96fa-31d351ca39df": // منتظر پاسخ
                                        statusClass = "text-warning";
                                        statusIcon = "<i class='bi bi-hourglass-split font-14'></i>";
                                        break;

                                    case "8804f420-0c59-44d2-a4ca-711af8822c56": // انجام شده
                                        statusClass = "text-info";
                                        statusIcon = "<i class='bi bi-check2-circle font-14'></i>";
                                        break;

                                    case "9a5e80a8-cc75-46f1-b158-01d58384d4f7": // بسته / نهایی شده
                                        statusClass = "text-success fw-bold";
                                        statusIcon = "<i class='bi bi-patch-check-fill font-14'></i>";
                                        break;

                                    default:
                                        statusClass = "text-muted";
                                        statusIcon = "<i class='bi bi-question-circle font-14'></i>";
                                        break;
                                }
                            }

                            <td class="@statusClass">
                                @ticket.StatusTitle @Html.Raw(statusIcon)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>